## Problem 1 : Data Modelling 

Imagine you are designing a database for an e-commerce platform. The database should store information about products, customers, orders, and order items. Each order can contain multiple order items, and each order item is associated with a specific product. Each customer can have multiple orders. Customer details such as shipping address, contact number etc. can change over time. We want to retain the historical information as well in our schema.

1. Design a **star-schema / snowflake schema model** for the above requirements
    1. Use an entity-relationship diagram (ERD) that represents the relationships between these entities
    2. Include the necessary attributes and primary/foreign key relationships. Briefly explain your design choices.
2. Generate and insert sample data in the above model. Include the process and code of generating random data in your submission. You data should have:
    1. At least 2 years of order history
    2. At least 10 products; at least 2 products with variants.
    3. At least 10 customers

### Part 1: Designing

First we list down all the entities that we have to include 

Entities :

**products** - All the products in our platform

**Customers** - Platform's customers 

**Orders** - The orders that a customer places 

**OrderItems** - The product that a particular order contains 

Conditions : 

Each order can have multiple order items and each order item is associated with a specific product

Each customer can have multiple orders. Customer details such as shipping address, contact number etc. can change over time

## Relationship between Entities :

**Customer - Orders** : One Customer can have multiple orders but one order can be of one and a particular customer 
[One - Many]

**Orders-Items** : One Order can have multiple orders as well as a particular order can be present in multiple orders 
[Many - One]

**Item-Products**: A particular item is associated with a specific product .
[One - One]

**Customer-Address** - A customer can have multiple addresses but one exact address can be of that one particular customer 
[One-Many]

**Customer-Contacts** - A customer can have multiple contacts but one exact contact no can be of that one particular customer
[One-Many]



Hence we draw the Entity Relationship Diagram as Follows : 

![Image Description](https://storage.googleapis.com/reunion-task/All-files/ER_diagram-1.png)



And the Star Schema will look like : 
![SchemDiagram](https://storage.googleapis.com/reunion-task/All-files/SnowFlakeSchema.jpg)

### Part 2: Generating Data

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector  
import datetime
import random
#Creating the connection object   
cnx = mysql.connector.connect(
    host='34.71.225.65',
    user='root'
)
  
#creating the cursor object  
cur = cnx.cursor()  
  
try:  
    dbs = cur.execute("show databases")  
except:  
    myconn.rollback()  
for x in cur:  
    print(x)  

# Enable autocommit mode
cnx.autocommit = True

('ecommercedb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [ ]:
cur.execute("""create database ecommercedb""")

In [3]:
cur.execute("""use ecommercedb""")

In [190]:
# Creating all the tables with the necessary foreign key and primary key constraints according to our Schema diagram :

cur.execute("""CREATE TABLE Products (
product_id int PRIMARY KEY NOT NULL,
product_name VARCHAR(255),
product_price VARCHAR(255),
product_category VARCHAR(255)



)""")



cur.execute("""CREATE TABLE Customers(
cust_id int PRIMARY KEY NOT NULL,
cust_name VARCHAR(255),
cust_email VARCHAR(255));
""")

cur.execute("""CREATE TABLE Orders(
order_id INT PRIMARY KEY NOT NULL,
cust_id INT,
foreign key(cust_id) REFERENCES Customers(cust_id));""")

cur.execute("""CREATE TABLE Contacts(
contact_id INT PRIMARY KEY NOT NULL,
cust_id Int,
FOREIGN key(cust_id) references Customers(cust_id));""")

cur.execute("""CREATE TABLE Address(
address int PRIMARY KEY NOT NULL,
cust_id Int,
FOREIGN key(cust_id) references Customers(cust_id));
""")

cur.execute("""CREATE TABLE Order_item(
order_item_id INT PRIMARY KEY NOT NULL,
order_id INT ,
product_id INT ,
order_quantity INT ,
FOREIGN KEY (order_id) references Orders(order_id),
FOREIGN KEY (product_id) references Products(product_id));
""")

In [207]:
cur.execute("show tables;")

In [208]:
cur.fetchall()

[('Address',),
 ('Contacts',),
 ('Customers',),
 ('Order_item',),
 ('Orders',),
 ('Products',)]

In [197]:
cur.execute("""ALTER TABLE Orders ADD order_date Datetime ;
""")

In [198]:
# Changing the name of the column due to a mistake and adding a new column named city 

cur.execute("""
ALTER TABLE Address CHANGE address address_id INT;
ALTER TABLE Address ADD city VARCHAR(255);""")

In [19]:
# Generating Random Data : 
# let us generate customers : 

customers = []
for i in range(1,11):
    customer_id = i
    customer_name = "Customer" + str(i)
    customer_email = customer_name + "@example.com"
    customers.append((customer_id,customer_name, customer_email))


customers

[(1, 'Customer1', 'Customer1@example.com'),
 (2, 'Customer2', 'Customer2@example.com'),
 (3, 'Customer3', 'Customer3@example.com'),
 (4, 'Customer4', 'Customer4@example.com'),
 (5, 'Customer5', 'Customer5@example.com'),
 (6, 'Customer6', 'Customer6@example.com'),
 (7, 'Customer7', 'Customer7@example.com'),
 (8, 'Customer8', 'Customer8@example.com'),
 (9, 'Customer9', 'Customer9@example.com'),
 (10, 'Customer10', 'Customer10@example.com')]

In [15]:
# Generating Random Products with 3 categories
products = []
for i in range(1,11):
    product_id = i
    product_name = "Product" + str(random.randint(1,11))
    product_price = str(random.randint(10, 1000))
    product_category = random.choice(["Electronics", "Apparel", "Home Goods"])
    products.append((product_id,product_name, product_price, product_category))
    
products

[(1, 'Product9', '206', 'Apparel'),
 (2, 'Product2', '558', 'Home Goods'),
 (3, 'Product8', '701', 'Electronics'),
 (4, 'Product1', '450', 'Apparel'),
 (5, 'Product1', '495', 'Apparel'),
 (6, 'Product11', '411', 'Electronics'),
 (7, 'Product5', '552', 'Electronics'),
 (8, 'Product2', '138', 'Home Goods'),
 (9, 'Product3', '541', 'Apparel'),
 (10, 'Product4', '942', 'Apparel')]

In [41]:
orders = []
for i in range(1,101):
    order_id = i
    cust_id = random.randint(1,9)
    order_date = str(datetime.datetime.now() - datetime.timedelta(days=random.randint(1,365)))
    order_date = order_date[:10]
    orders.append((order_id, cust_id, order_date))

In [225]:
orders

[(1, 2, '2022-09-16'),
 (2, 8, '2022-10-31'),
 (3, 8, '2022-11-04'),
 (4, 8, '2023-04-05'),
 (5, 4, '2022-07-21'),
 (6, 1, '2022-08-16'),
 (7, 10, '2023-03-07'),
 (8, 1, '2022-10-30'),
 (9, 3, '2022-12-08'),
 (10, 4, '2022-10-13'),
 (11, 9, '2023-04-04'),
 (12, 8, '2022-11-05'),
 (13, 9, '2022-07-26'),
 (14, 6, '2022-08-15'),
 (15, 5, '2022-10-11'),
 (16, 7, '2023-01-01'),
 (17, 8, '2022-08-27'),
 (18, 8, '2023-02-11'),
 (19, 8, '2022-07-17'),
 (20, 2, '2023-06-03'),
 (21, 8, '2023-06-02'),
 (22, 8, '2023-06-24'),
 (23, 8, '2023-01-27'),
 (24, 1, '2022-10-25'),
 (25, 4, '2023-04-20'),
 (26, 5, '2022-09-21'),
 (27, 3, '2023-04-16'),
 (28, 9, '2023-05-04'),
 (29, 8, '2023-06-15'),
 (30, 9, '2023-02-11'),
 (31, 7, '2022-09-25'),
 (32, 2, '2022-09-22'),
 (33, 10, '2022-10-30'),
 (34, 1, '2023-03-28'),
 (35, 5, '2022-12-14'),
 (36, 1, '2022-12-26'),
 (37, 1, '2022-07-21'),
 (38, 10, '2022-10-01'),
 (39, 3, '2022-12-19'),
 (40, 8, '2022-11-09'),
 (41, 7, '2023-02-21'),
 (42, 9, '2023-05-15'),
 (43, 4, '2023-07-04'),
 (44, 2, '2022-09-15'),
 (45, 2, '2022-09-21'),
 (46, 5, '2023-05-03'),
 (47, 10, '2023-05-03'),
 (48, 1, '2023-04-27'),
 (49, 10, '2023-01-29'),
 (50, 8, '2023-03-26'),
 (51, 6, '2022-12-16'),
 (52, 9, '2022-12-21'),
 (53, 6, '2022-11-19'),
 (54, 3, '2022-12-14'),
 (55, 2, '2023-04-18'),
 (56, 3, '2023-05-28'),
 (57, 10, '2022-08-23'),
 (58, 1, '2023-02-02'),
 (59, 9, '2023-04-15'),
 (60, 9, '2023-05-30'),
 (61, 9, '2023-04-01'),
 (62, 5, '2022-12-28'),
 (63, 3, '2022-07-13'),
 (64, 2, '2023-02-02'),
 (65, 6, '2023-01-25'),
 (66, 5, '2022-12-03'),
 (67, 8, '2022-09-09'),
 (68, 1, '2023-06-13'),
 (69, 9, '2023-02-10'),
 (70, 1, '2022-12-16'),
 (71, 6, '2022-09-01'),
 (72, 7, '2023-04-27'),
 (73, 5, '2023-02-20'),
 (74, 10, '2022-08-09'),
 (75, 9, '2022-12-17'),
 (76, 3, '2023-03-29'),
 (77, 6, '2023-04-24'),
 (78, 9, '2022-12-29'),
 (79, 2, '2022-11-27'),
 (80, 1, '2023-03-10'),
 (81, 9, '2022-12-02'),
 (82, 6, '2022-11-04'),
 (83, 5, '2022-12-31'),
 (84, 1, '2022-11-25'),
 (85, 8, '2023-02-24'),
 (86, 4, '2022-12-28'),
 (87, 4, '2022-10-07'),
 (88, 2, '2022-12-25'),
 (89, 4, '2022-09-01'),
 (90, 7, '2022-07-25'),
 (91, 1, '2022-08-10'),
 (92, 10, '2022-12-02'),
 (93, 3, '2022-08-31'),
 (94, 8, '2022-07-21'),
 (95, 4, '2023-01-18'),
 (96, 8, '2023-06-20'),
 (97, 2, '2022-12-23'),
 (98, 10, '2022-12-26'),
 (99, 5, '2022-11-10'),
 (100, 8, '2023-02-24')]

In [30]:
contacts = []

for i in range(1,11):
    contact_id = i
    cust_id = random.randint(1,9)
    contact_no = random.randint(100000,500000)
    contacts.append((contact_id,cust_id,contact_no))
    
contacts

[(1, 7, 390728),
 (2, 1, 275902),
 (3, 6, 267036),
 (4, 2, 342702),
 (5, 9, 452523),
 (6, 3, 240069),
 (7, 2, 202327),
 (8, 3, 238306),
 (9, 3, 260018),
 (10, 3, 104306)]

In [39]:
addresses = []
for i in range(1,7):
    address_id = i
    cust_id = cust_id = random.randint(1,9)
    city = "CITY"+str(i)
    addresses.append((address_id,cust_id,city))
    
addresses

[(1, 4, 'CITY1'),
 (2, 2, 'CITY2'),
 (3, 2, 'CITY3'),
 (4, 5, 'CITY4'),
 (5, 2, 'CITY5'),
 (6, 1, 'CITY6')]

In [12]:
order_items = []

order_items_id = []

for i in range(1,50):
    order_items_id.append(i)
    
order_id = []
for i in range(1,50):
    order_id.append(random.randint(11,100))
    
product_id = []

for i in range(1,50):
    product_id.append(random.randint(1,10))
    
order_quantity = []
    
for i in range(1,50):
    order_quantity.append(random.randint(1,15))

In [13]:
for i in range(0,len(order_items_id)):
    order_items.append((order_items_id[i],order_id[i],product_id[i],order_quantity[i]))

In [159]:
order_items

[(1, 36, 6, 1),
 (2, 82, 3, 8),
 (3, 94, 7, 4),
 (4, 98, 9, 12),
 (5, 50, 4, 10),
 (6, 100, 7, 11),
 (7, 61, 10, 11),
 (8, 38, 9, 14),
 (9, 89, 3, 10),
 (10, 96, 1, 12),
 (11, 59, 4, 14),
 (12, 77, 1, 8),
 (13, 11, 6, 6),
 (14, 91, 1, 12),
 (15, 67, 6, 3),
 (16, 76, 8, 7),
 (17, 31, 4, 2),
 (18, 79, 9, 11),
 (19, 47, 10, 2),
 (20, 62, 8, 2),
 (21, 79, 4, 5),
 (22, 43, 3, 5),
 (23, 57, 6, 14),
 (24, 93, 9, 1),
 (25, 47, 7, 8),
 (26, 40, 3, 12),
 (27, 80, 9, 7),
 (28, 23, 2, 13),
 (29, 39, 1, 13),
 (30, 59, 5, 10),
 (31, 32, 10, 14),
 (32, 82, 6, 12),
 (33, 24, 1, 7),
 (34, 47, 4, 1),
 (35, 64, 1, 6),
 (36, 36, 5, 4),
 (37, 93, 5, 12),
 (38, 38, 4, 13),
 (39, 49, 3, 3),
 (40, 80, 10, 7),
 (41, 29, 7, 3),
 (42, 53, 2, 6),
 (43, 92, 5, 1),
 (44, 68, 7, 2),
 (45, 30, 4, 8),
 (46, 11, 6, 1),
 (47, 23, 9, 7),
 (48, 16, 5, 1),
 (49, 40, 4, 10)]

In [20]:
# Close and reopen the cursor
for customer in customers:
    cur.execute("INSERT INTO Customers (cust_id, cust_name, cust_email) VALUES (%s, %s, %s)", customer)

cur.fetchall()  # Fetch and consume the results of the previous query

[]

In [21]:
cur.execute("SELECT * FROM Customers")
cur.fetchall()

[(1, 'Customer1', 'Customer1@example.com'),
 (2, 'Customer2', 'Customer2@example.com'),
 (3, 'Customer3', 'Customer3@example.com'),
 (4, 'Customer4', 'Customer4@example.com'),
 (5, 'Customer5', 'Customer5@example.com'),
 (6, 'Customer6', 'Customer6@example.com'),
 (7, 'Customer7', 'Customer7@example.com'),
 (8, 'Customer8', 'Customer8@example.com'),
 (9, 'Customer9', 'Customer9@example.com'),
 (10, 'Customer10', 'Customer10@example.com')]

In [23]:
# Insert data into Products table
for product in products:
    cur.execute("INSERT INTO Products (product_id, product_name, product_price, product_category) VALUES (%s, %s, %s, %s)", product)

cur.fetchall()  # Fetch and consume the results of the previous query

[]

In [24]:
cur.execute("SELECT * FROM Products")
cur.fetchall()

[(1, 'Product9', '206', 'Apparel'),
 (2, 'Product2', '558', 'Home Goods'),
 (3, 'Product8', '701', 'Electronics'),
 (4, 'Product1', '450', 'Apparel'),
 (5, 'Product1', '495', 'Apparel'),
 (6, 'Product11', '411', 'Electronics'),
 (7, 'Product5', '552', 'Electronics'),
 (8, 'Product2', '138', 'Home Goods'),
 (9, 'Product3', '541', 'Apparel'),
 (10, 'Product4', '942', 'Apparel')]

In [9]:
orders

[(1, 6, '2022-10-11'),
 (2, 2, '2022-08-30'),
 (3, 3, '2023-01-07'),
 (4, 5, '2022-12-08'),
 (5, 4, '2023-04-14'),
 (6, 8, '2023-03-17'),
 (7, 3, '2023-01-15'),
 (8, 9, '2022-10-11'),
 (9, 10, '2022-11-29'),
 (10, 1, '2022-07-17'),
 (11, 6, '2022-12-13'),
 (12, 5, '2023-03-27'),
 (13, 7, '2023-06-01'),
 (14, 8, '2023-02-07'),
 (15, 2, '2022-09-30'),
 (16, 8, '2022-07-18'),
 (17, 4, '2022-09-15'),
 (18, 10, '2022-08-08'),
 (19, 2, '2023-05-18'),
 (20, 2, '2023-02-28'),
 (21, 10, '2023-02-11'),
 (22, 6, '2022-08-22'),
 (23, 9, '2022-07-13'),
 (24, 5, '2023-01-05'),
 (25, 5, '2023-04-09'),
 (26, 7, '2022-12-01'),
 (27, 9, '2022-11-09'),
 (28, 10, '2023-01-02'),
 (29, 10, '2022-10-20'),
 (30, 8, '2023-07-08'),
 (31, 10, '2022-12-04'),
 (32, 9, '2023-06-07'),
 (33, 4, '2023-05-29'),
 (34, 10, '2022-09-20'),
 (35, 3, '2022-12-11'),
 (36, 9, '2023-05-30'),
 (37, 2, '2023-03-24'),
 (38, 5, '2023-01-31'),
 (39, 3, '2022-07-23'),
 (40, 1, '2022-07-22'),
 (41, 7, '2022-07-18'),
 (42, 3, '2023-06-06'),
 (43, 9, '2023-06-08'),
 (44, 1, '2023-01-07'),
 (45, 7, '2023-03-18'),
 (46, 1, '2023-05-27'),
 (47, 3, '2023-05-19'),
 (48, 5, '2022-11-23'),
 (49, 3, '2023-03-03'),
 (50, 6, '2022-09-01'),
 (51, 10, '2023-03-16'),
 (52, 8, '2023-03-27'),
 (53, 2, '2022-11-27'),
 (54, 10, '2023-06-01'),
 (55, 4, '2023-01-30'),
 (56, 3, '2022-08-19'),
 (57, 4, '2023-05-08'),
 (58, 8, '2022-11-25'),
 (59, 3, '2022-09-20'),
 (60, 4, '2022-08-17'),
 (61, 4, '2023-02-03'),
 (62, 10, '2023-02-25'),
 (63, 7, '2022-11-20'),
 (64, 8, '2022-12-29'),
 (65, 10, '2023-04-30'),
 (66, 10, '2022-09-12'),
 (67, 1, '2023-06-22'),
 (68, 1, '2022-08-25'),
 (69, 9, '2022-11-29'),
 (70, 2, '2023-06-16'),
 (71, 2, '2023-01-09'),
 (72, 9, '2023-05-27'),
 (73, 2, '2022-08-06'),
 (74, 7, '2022-07-19'),
 (75, 3, '2022-07-20'),
 (76, 7, '2023-03-11'),
 (77, 4, '2023-02-23'),
 (78, 6, '2022-12-10'),
 (79, 4, '2022-09-08'),
 (80, 9, '2022-11-17'),
 (81, 2, '2023-02-15'),
 (82, 1, '2023-03-26'),
 (83, 6, '2023-05-03'),
 (84, 1, '2023-02-20'),
 (85, 2, '2023-03-24'),
 (86, 8, '2022-11-20'),
 (87, 5, '2023-06-24'),
 (88, 9, '2023-02-09'),
 (89, 5, '2022-07-26'),
 (90, 10, '2023-04-24'),
 (91, 5, '2023-05-22'),
 (92, 9, '2022-11-30'),
 (93, 9, '2022-12-25'),
 (94, 10, '2022-07-29'),
 (95, 6, '2023-01-10'),
 (96, 5, '2022-12-13'),
 (97, 3, '2023-06-11'),
 (98, 2, '2022-08-22'),
 (99, 8, '2022-10-06'),
 (100, 3, '2023-06-21')]

In [25]:
contacts

[(556058, 8),
 (673544, 10),
 (835786, 7),
 (358407, 3),
 (883157, 2),
 (605788, 10),
 (128568, 5),
 (546285, 8),
 (754539, 4),
 (660995, 1)]

In [ ]:
for contact in contacts:
    cur.execute("INSERT INTO Contacts (contact_id, cust_id,contact_no) VALUES (%s, %s,%s)", contact)

In [ ]:
for address in addresses:
    cur.execute("INSERT INTO Address (address_id, cust_id,city) VALUES (%s, %s,%s)", address)

In [ ]:
for order in orders:
    cur.execute("INSERT INTO Orders (order_id, cust_id, order_date) VALUES (%s, %s, %s)", order)

In [46]:
for i in order_items:
    cur.execute("INSERT INTO Order_item (order_item_id, order_id, product_id, order_quantity) VALUES (%s, %s, %s, %s)", i)

In [49]:
# Select all rows from the Customers table
cur.execute("SELECT * FROM Customers")
customers_data = cur.fetchall()
customers_columns = [desc[0] for desc in cur.description]

# Select all rows from the Products table
cur.execute("SELECT * FROM Products")
products_data = cur.fetchall()
products_columns = [desc[0] for desc in cur.description]

# Select all rows from the Orders table
cur.execute("SELECT * FROM Orders")
orders_data = cur.fetchall()
orders_columns = [desc[0] for desc in cur.description]

# Select all rows from the Contacts table
cur.execute("SELECT * FROM Contacts")
contacts_data = cur.fetchall()
contacts_columns = [desc[0] for desc in cur.description]

# Select all rows from the Order_item table
cur.execute("SELECT * FROM Order_item")
order_items_data = cur.fetchall()
order_items_columns = [desc[0] for desc in cur.description]

# Print the data from each table with column headers
print("Customers Data:")
print(customers_columns)
for row in customers_data:
    print(row)

print("\nProducts Data:")
print(products_columns)
for row in products_data:
    print(row)

print("\nOrders Data:")
print(orders_columns)
for row in orders_data:
    print(row)

print("\nContacts Data:")
print(contacts_columns)
for row in contacts_data:
    print(row)

print("\nOrder_item Data:")
print(order_items_columns)
for row in order_items_data:
    print(row)

Customers Data:
['cust_id', 'cust_name', 'cust_email']
(1, 'Customer1', 'Customer1@example.com')
(2, 'Customer2', 'Customer2@example.com')
(3, 'Customer3', 'Customer3@example.com')
(4, 'Customer4', 'Customer4@example.com')
(5, 'Customer5', 'Customer5@example.com')
(6, 'Customer6', 'Customer6@example.com')
(7, 'Customer7', 'Customer7@example.com')
(8, 'Customer8', 'Customer8@example.com')
(9, 'Customer9', 'Customer9@example.com')
(10, 'Customer10', 'Customer10@example.com')

Products Data:
['product_id', 'product_name', 'product_price', 'product_category']
(1, 'Product9', '206', 'Apparel')
(2, 'Product2', '558', 'Home Goods')
(3, 'Product8', '701', 'Electronics')
(4, 'Product1', '450', 'Apparel')
(5, 'Product1', '495', 'Apparel')
(6, 'Product11', '411', 'Electronics')
(7, 'Product5', '552', 'Electronics')
(8, 'Product2', '138', 'Home Goods')
(9, 'Product3', '541', 'Apparel')
(10, 'Product4', '942', 'Apparel')

Orders Data:
['order_id', 'cust_id', 'order_date']
(1, 3, datetime.datetime(2023, 1, 16, 0, 0))
(2, 7, datetime.datetime(2022, 9, 6, 0, 0))
(3, 6, datetime.datetime(2022, 11, 21, 0, 0))
(4, 6, datetime.datetime(2023, 4, 17, 0, 0))
(5, 3, datetime.datetime(2023, 4, 28, 0, 0))
(6, 1, datetime.datetime(2022, 10, 16, 0, 0))
(7, 2, datetime.datetime(2023, 6, 28, 0, 0))
(8, 3, datetime.datetime(2023, 2, 10, 0, 0))
(9, 7, datetime.datetime(2022, 7, 24, 0, 0))
(10, 2, datetime.datetime(2023, 2, 20, 0, 0))
(11, 4, datetime.datetime(2023, 2, 20, 0, 0))
(12, 9, datetime.datetime(2023, 1, 29, 0, 0))
(13, 7, datetime.datetime(2023, 6, 23, 0, 0))
(14, 8, datetime.datetime(2022, 11, 1, 0, 0))
(15, 7, datetime.datetime(2022, 12, 17, 0, 0))
(16, 9, datetime.datetime(2022, 11, 29, 0, 0))
(17, 9, datetime.datetime(2023, 6, 8, 0, 0))
(18, 6, datetime.datetime(2023, 3, 5, 0, 0))
(19, 9, datetime.datetime(2023, 4, 26, 0, 0))
(20, 7, datetime.datetime(2023, 2, 15, 0, 0))
(21, 5, datetime.datetime(2023, 5, 10, 0, 0))
(22, 7, datetime.datetime(2022, 10, 13, 0, 0))
(23, 9, datetime.datetime(2022, 8, 3, 0, 0))
(24, 5, datetime.datetime(2023, 1, 29, 0, 0))
(25, 4, datetime.datetime(2022, 8, 12, 0, 0))
(26, 1, datetime.datetime(2022, 10, 20, 0, 0))
(27, 7, datetime.datetime(2023, 6, 27, 0, 0))
(28, 3, datetime.datetime(2022, 7, 16, 0, 0))
(29, 9, datetime.datetime(2023, 1, 27, 0, 0))
(30, 4, datetime.datetime(2023, 4, 30, 0, 0))
(31, 3, datetime.datetime(2023, 2, 23, 0, 0))
(32, 5, datetime.datetime(2022, 12, 16, 0, 0))
(33, 7, datetime.datetime(2022, 10, 26, 0, 0))
(34, 4, datetime.datetime(2022, 8, 13, 0, 0))
(35, 8, datetime.datetime(2022, 12, 13, 0, 0))
(36, 3, datetime.datetime(2023, 6, 12, 0, 0))
(37, 9, datetime.datetime(2022, 9, 6, 0, 0))
(38, 1, datetime.datetime(2023, 3, 29, 0, 0))
(39, 9, datetime.datetime(2023, 2, 25, 0, 0))
(40, 9, datetime.datetime(2023, 1, 24, 0, 0))
(41, 7, datetime.datetime(2022, 8, 27, 0, 0))
(42, 7, datetime.datetime(2023, 5, 12, 0, 0))
(43, 8, datetime.datetime(2022, 10, 13, 0, 0))
(44, 5, datetime.datetime(2022, 8, 29, 0, 0))
(45, 4, datetime.datetime(2022, 9, 26, 0, 0))
(46, 4, datetime.datetime(2023, 3, 31, 0, 0))
(47, 7, datetime.datetime(2022, 12, 11, 0, 0))
(48, 1, datetime.datetime(2022, 10, 23, 0, 0))
(49, 5, datetime.datetime(2022, 7, 23, 0, 0))
(50, 8, datetime.datetime(2022, 10, 14, 0, 0))
(51, 7, datetime.datetime(2023, 5, 3, 0, 0))
(52, 3, datetime.datetime(2022, 9, 23, 0, 0))
(53, 1, datetime.datetime(2022, 9, 23, 0, 0))
(54, 8, datetime.datetime(2023, 2, 10, 0, 0))
(55, 8, datetime.datetime(2022, 10, 8, 0, 0))
(56, 8, datetime.datetime(2023, 4, 5, 0, 0))
(57, 5, datetime.datetime(2023, 3, 7, 0, 0))
(58, 9, datetime.datetime(2022, 9, 11, 0, 0))
(59, 7, datetime.datetime(2023, 4, 1, 0, 0))
(60, 1, datetime.datetime(2023, 4, 1, 0, 0))
(61, 3, datetime.datetime(2023, 6, 24, 0, 0))
(62, 9, datetime.datetime(2023, 4, 19, 0, 0))
(63, 8, datetime.datetime(2023, 4, 16, 0, 0))
(64, 4, datetime.datetime(2022, 7, 26, 0, 0))
(65, 6, datetime.datetime(2023, 1, 6, 0, 0))
(66, 6, datetime.datetime(2022, 9, 18, 0, 0))
(67, 6, datetime.datetime(2023, 2, 13, 0, 0))
(68, 2, datetime.datetime(2023, 1, 21, 0, 0))
(69, 4, datetime.datetime(2023, 6, 16, 0, 0))
(70, 9, datetime.datetime(2023, 4, 15, 0, 0))
(71, 5, datetime.datetime(2023, 2, 28, 0, 0))
(72, 8, datetime.datetime(2023, 6, 12, 0, 0))
(73, 4, datetime.datetime(2023, 1, 30, 0, 0))
(74, 8, datetime.datetime(2023, 2, 6, 0, 0))
(75, 6, datetime.datetime(2022, 10, 14, 0, 0))
(76, 1, datetime.datetime(2022, 10, 30, 0, 0))
(77, 1, datetime.datetime(2022, 12, 17, 0, 0))
(78, 1, datetime.datetime(2022, 11, 8, 0, 0))
(79, 4, datetime.datetime(2023, 6, 28, 0, 0))
(80, 8, datetime.datetime(2023, 1, 4, 0, 0))
(81, 6, datetime.datetime(2022, 8, 14, 0, 0))
(82, 9, datetime.datetime(2022, 11, 3, 0, 0))
(83, 3, datetime.datetime(2023, 4, 11, 0, 0))
(84, 7, datetime.datetime(2022, 12, 17, 0, 0))
(85, 4, datetime.datetime(2023, 2, 19, 0, 0))
(86, 6, datetime.datetime(2023, 3, 26, 0, 0))
(87, 7, datetime.datetime(2022, 9, 15, 0, 0))
(88, 4, datetime.datetime(2023, 6, 15, 0, 0))
(89, 2, datetime.datetime(2022, 12, 22, 0, 0))
(90, 8, datetime.datetime(2022, 10, 27, 0, 0))
(91, 3, datetime.datetime(2022, 7, 30, 0, 0))
(92, 8, datetime.datetime(2023, 4, 1, 0, 0))
(93, 1, datetime.datetime(2022, 7, 21, 0, 0))
(94, 6, datetime.datetime(2022, 7, 20, 0, 0))
(95, 9, datetime.datetime(2023, 4, 29, 0, 0))
(96, 3, datetime.datetime(2022, 12, 30, 0, 0))
(97, 8, datetime.datetime(2023, 4, 26, 0, 0))
(98, 7, datetime.datetime(2022, 10, 20, 0, 0))
(99, 3, datetime.datetime(2022, 11, 27, 0, 0))
(100, 1, datetime.datetime(2022, 11, 5, 0, 0))

Contacts Data:
['contact_id', 'cust_id', 'contact_no']
(1, 7, 390728)
(2, 1, 275902)
(3, 6, 267036)
(4, 2, 342702)
(5, 9, 452523)
(6, 3, 240069)
(7, 2, 202327)
(8, 3, 238306)
(9, 3, 260018)
(10, 3, 104306)

Order_item Data:
['order_item_id', 'order_id', 'product_id', 'order_quantity']
(1, 92, 4, 7)
(2, 15, 3, 8)
(3, 86, 6, 3)
(4, 33, 7, 1)
(5, 18, 5, 10)
(6, 48, 8, 1)
(7, 26, 4, 13)
(8, 68, 8, 1)
(9, 83, 6, 10)
(10, 87, 1, 7)
(11, 90, 8, 4)
(12, 48, 8, 2)
(13, 94, 6, 12)
(14, 38, 5, 3)
(15, 57, 10, 11)
(16, 79, 7, 14)
(17, 100, 4, 11)
(18, 76, 7, 2)
(19, 50, 3, 9)
(20, 100, 4, 5)
(21, 37, 6, 10)
(22, 88, 7, 11)
(23, 68, 5, 13)
(24, 67, 2, 5)
(25, 79, 7, 1)
(26, 78, 7, 10)
(27, 56, 8, 1)
(28, 73, 2, 15)
(29, 25, 6, 4)
(30, 36, 1, 6)
(31, 73, 2, 4)
(32, 52, 4, 2)
(33, 37, 10, 13)
(34, 87, 4, 9)
(35, 24, 8, 2)
(36, 79, 4, 15)
(37, 45, 3, 14)
(38, 27, 4, 2)
(39, 44, 10, 1)
(40, 38, 8, 7)
(41, 95, 6, 1)
(42, 41, 4, 9)
(43, 59, 2, 11)
(44, 19, 6, 9)
(45, 88, 9, 10)
(46, 12, 3, 4)
(47, 84, 5, 12)
(48, 81, 1, 3)
(49, 82, 7, 1)